*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    padding: 0 10%;
    position: relative;
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1{
    font-size: 64px;
    font-weight: 600;
}

.content h1 span{
    color: #ff3753;
}

.lanch-time{
    display: flex;
}

.lanch-time div{
    flex-basis: 100px;
}

.lanch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}